:root {
    --brand-color: #2196F3;
    --text-color: #212121;
    --accent-color: #FFFFFF;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    background-color: var(--accent-color);
    color: var(--text-color);
    margin: 0;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    display: block;
}
.logo-nav {
    color: var(--text-color);
}
.logo-footer {
    color: var(--accent-color);
}

.list {
    list-style: none;
    list-style-type: none;
}

a[href] {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.link-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
    padding: 32px 0;
    display: block;
    transition: color 250ms var(--timing-function);
    position: relative;
}

.link-nav:hover,
.link-nav:focus {
    color: var(--brand-color);
}

.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.list-contact {
    display: flex;
    margin-left: auto;
    align-self: center;
}

.list-contact .item:not(:last-child) {
    margin-right: 50px;
}

ul li.current a {
    color: var(--brand-color);
}

.current a::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
    position: absolute;
    left: 0;
    bottom: 0;

}

.contact-us-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding: 32px 0;
    display: flex;
    align-items: center;
    transition: color 250ms var(--timing-function);
}

.contact-us-icon {
    fill: currentColor;
    margin-right: 10px;
}
.contact-us-header:hover,
.contact-us-header:focus {
    color: var(--brand-color);
}

.hero {
    text-align: center;
    padding: 200px 0;
    background: #2F303A;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../images/img_hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-title {
    color: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    background: var(--brand-color);
    color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    transition: background-color 250ms var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

.feature {
    padding-top: 94px;
}

/* .feature-item::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #F5F4FA;
}

.icon-antenna::before {
    background-image: url(../images/svg/antenna.svg);
}
.icon-clock::before {
    background-image: url(../images/svg/clock.svg);
}
.icon-diagram::before {
    background-image: url(../images/svg/diagram.svg);
}
.icon-astronaut::before {
    background-image: url(../images/svg/astronaut.svg);
} */

.feature-thumb {
    background-color: #F5F4FA;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-icon {
    fill: var(--text-color);
}

.feature-title-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 10px;
}

.feature-text {
    line-height: 1.7;
    color: #757575;
}

.feature-list {
    display: flex;
}

.feature-list .item:not(:last-child) {
    margin-right: 30px;
}
.feature-list .item {
    width: 270px;
}

.works {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-works {
    display: flex;
}

.list-works .item:not(:last-child) {
    margin-right: 30px;
}

.list-works .item {
    width: 370px;
}

.works-thumb {
    position: relative;
}

.works-thumb >.works-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 27px 0;
    font-weight: 700;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title, .works-title, .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team-text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
}

.list-team {
    display: flex;
}

.list-team .item:not(:last-child) {
    margin-right: 30px;
}

.list-team .item {
    width: 270px;
}

.list-team .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-team {
    background-color: var(--accent-color);
    text-align: center;  
    padding: 30px 0;
    border-radius: 0px 0px 4px 4px;
}

.team-social-list {
    display: flex;
    justify-content: center;
}

.team-social-item + .team-social-item {
    margin-left: 10px;
}

.team-social-link {
    width: 44px;
    height: 44px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #AFB1B8;
    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.team-social-icon {
    fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus{
    background-color: var(--brand-color);
    color: var(--accent-color);
}

.clients {
    padding: 94px 0;
}

.clients-title {
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-list .item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
}

.client-icon {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid #2196F3;
    color: var(--brand-color);
}

.portfolio {
    padding: 94px 0;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list > .portfolio-item:not(:last-child) {
    margin-right: 8px;
}

.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: #F5F4FA;
    color: var(--text-color);
    cursor: pointer;
    border: transparent;
    display: inline-block;
    min-width: 73px;
    border-radius: 4px;
    padding: 6px 22px;
    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.btn-portfolio:hover,
.btn-portfolio:focus{
    background-color: var(--brand-color);
    color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.gallery-item {
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
}

.gallery-link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
}

.gallery-link:hover,
.gallery-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-link:hover .card-thumb-text {
    transform: translateY(0);

}

.gallery-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.gallery-list-text {
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
    margin-top: 4px;
}

.card-thumb {
    width: 370px;
    position: relative;
    overflow: hidden;
}

.card-thumb-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--accent-color);
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
    overflow: auto;
}

.card-content {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.footer-bg {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-bg .container {
    display: flex;
    align-items: baseline;
}

.footer-adrs {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.address-footer {
    color: var(--accent-color);
}

.contacts-footer1, .contacts-footer2 {
    color: rgba(255, 255, 255, 0.6);
}

.list-footer {
    margin-top: 9px;
}    

.item-footer {
    margin-top: 9px;
}

address {
    font-style: normal;
    margin-top: 20px;
}

.footer-social {
    margin-right: 93px;
}

.footer-text, .footer-modal-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-social-item + .footer-social-item {
    margin-left: 10px;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms var(--timing-function);
}

.footer-social-icon {
    fill: var(--accent-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--brand-color);
}

.signup-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signup-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: var(--accent-color);
    padding: 15px 16px;
    margin-right: 12px;
    outline: none;
    transition: border-color 250ms var(--timing-function);
}

.signup-input:focus {
    border-color: var(--brand-color);
}

.signup-input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.signup-wrap {
    position: relative;
}

.signup-btn {
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    display: inline-flex;
    min-width: 200px;
    height: 50px;
    padding: 10px 29px;
    transition: background-color 250ms var(--timing-function);
}

.signup-btn:hover,
.signup-btn:focus {
    background-color: #188CE8;
}

.signup-icon {
    fill: var(--accent-color);
    margin-left: 10px;
    position: absolute;
    right: 29px;
    top: 50%;
    transform: translateY(-50%);
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opa—Åity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms;
    padding: 40px;
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--accent-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--text-color);
    transition: color 250ms var(--timing-function);
}

.modal-close-icon {
    fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
    color: var(--brand-color);
}

.is-hidden {
    opacity: 0.5;
    pointer-events: none;
    visibility: hidden;
} 

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 12px;
}

.form-field {
    margin-bottom: 10px;
}

.form-checkbox {
    margin: 20px auto 40px;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}

.form-input, .form-input-coment {
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms var(--timing-function);
}

.form-input {
    padding: 12px 16px 12px 42px;
}

.form-input-coment {
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    resize: none;
}

.form-wrap {
    position: relative;
}

.form-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
}

.form-input-coment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-input:focus,
.form-input-coment:focus {
    border-color: var(--brand-color);
}

.form-input:focus + .form-icon {
    fill: var(--brand-color);
}

.submit-btn {
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    display: block;
    margin: 30px auto 40px;
    min-width: 200px;
    padding: 10px 55px;
    transition: background-color 250ms var(--timing-function);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #188CE8;
}

.check-text {
    font-weight: 400;
    font-size: 1.7;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--text-color);
    border-radius: 2px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-link {
    color: var(--brand-color);
    margin-left: 3px;
}

.modal-link p {
    text-decoration: underline;
}

.policy-icon {
    fill: transparent;
}
.policy-check:checked + .check-text span {
    border: none;
    background-color: var(--brand-color);
}

.policy-check:checked + .check-text .policy-icon {
    fill: var(--accent-color);
}